[Unit]
# Human readable name of the unit
Description=prodmon: post to db service

[Service]
# Command to execute when the service is started
WorkingDirectory= /opt/prodmon/
ExecStart=python3 /opt/prodmon/prodmon/db_post/main.py
Restart=always
RestartSec=30s

[Install]
WantedBy=default.target
