[Unit]
# Human readable name of the unit
Description=prodmon: PLC counter monitoring

[Service]
# Command to execute when the service is started
ExecStart=python /home/debian/prodmon/prodmon/plc_collect/main.py /home/debian/prodmon/configs/1816Gauge.yml
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target