[Unit]
# Human readable name of the unit
Description=prodmon: PLC counter monitoring

[Service]
# Command to execute when the service is started
WorkingDirectory= /home/debian/prodmon/
ExecStart=python3 /home/debian/prodmon/prodmon/plc_collect/main.py configs/1617GFxGauge.yml
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target