[Unit]
# Human readable name of the unit
Description=prodmon: web based configuration

[Service]
# Command to execute when the service is started
EnvironmentFile= /home/debian/prodmon/configs/config.env
WorkingDirectory= /home/debian/prodmon/
ExecStart=python3 /home/debian/prodmon/prodmon/web_config/main.py configs/${PRODMON_CONFIG}.yml
# Restart=on-failure
# RestartSec=600s

[Install]
WantedBy=default.target