[Unit]
# Human readable name of the unit
Description=prodmon: post to db service

[Service]
# Command to execute when the service is started
WorkingDirectory= /home/debian/prodmon/
ExecStart=python3 /home/debian/prodmon/prodmon/db_post/main.py
Restart=always
RestartSec=30s

[Install]
WantedBy=default.target